
.container {
  padding-right: 0px;
  padding-left: 0px;
}
span.glyphicon{
    color:#003399;
    //font-size: 1.2em;
}
.nav{
    bottom: 0px;
}



/* fix firefox responsive images */
.img-responsive {
    width: 100%
}

 .nav.pull-right {

  }
  
  .contact-info{
      padding-top: 10px;
      height:55px;
  }
  .thumbnail{
      padding-top: 10px;
      margin-top: 10px;
  }
  .col-lg-4.thumbnail >img,
  .col-md-4.thumbnail >img{
      padding:0 10px 0 10px;
  }